/**#FF4500 affix/
/* site Navigation bar*/
#top-navbar.navbar-inverse{
	background-color: #375a7f;
	box-shadow: 0px 4px 0px 0px #f90;
	opacity: 0.95;
	z-index: 100;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	color: white;
	background-color: #e95420;
}

.navbar-inverse .navbar-nav > li > a{
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #28415b;
}
/* Projects Sidebar */
#sidebar.fade .modal-dialog {
   position: fixed;
   height: 100%;
   width: 300px;
   margin: 0px;
   -webkit-transform: translate3d(0%, 0, 0);
   -ms-transform: translate3d(0%, 0, 0);
   -o-transform: translate3d(0%, 0, 0);
   transform: translate3d(0%, 0, 0);
}
#sidebar.fade .modal-dialog{
	right: -300px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
   	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}
#sidebar.fade.in .modal-dialog{
	right:0;
}
#sidebar .modal-content{
	height: 100%;
	overflow: auto;
	border: none;
   	border-radius: 0;
   	background-color: #375a7f;
}
#sidebar .modal-header{
	border: none;
   	border-radius: 0;
	color: white;
	background-color: #e95420; 
}
#sidebar .modal-body{
	overflow: auto;
	border: none;
   	border-radius: 0;
	background-color: #375a7f;
}
#sidebar .modal-body a{
	color: white;
}
#sidebar .modal-body a:hover{
	background-color: #e95420;
}
#sidebar .modal-body a:focus{
	background-color: #e95420;
}
/* About-section */
#about-section{
	background-color: white;
	background-image: url('../images/newback.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding:100px 30px 100px 30px;
	color: white;
	margin-bottom: 0px;
}
#dp{
	height: 230px;
	width: 230px;
	margin: 0 auto;
}
/* floating btn*/
.floating-btn{
	position: fixed;
	right: 15px;
	bottom: 50px;
	z-index: 100;
	border-radius: 50%;
	color: white;
	background-color: #e95420;
}
.floating-btn:hover,
.floating-btn:focus{
	background-color: #375a7f;
	color: white;
}
/*Follow me*/
#follow{
	background-color: #30a5ff;
}
#social-buttons{
	background-color: white;
	margin: 20px 50px 20px 50px;
	padding: 10px;
	border-radius: 20px;
}
#social-buttons div{
	padding: 10px;
}
/*portfolio section*/
#portfolio-section{
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom: 0px;
	background-image: url("../images/back.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.carousel-inner > .item > div{
	width: 80%;
	margin: auto;
}
#java-logo{
	margin-top: 30px;
}
#java-logo img{
	width: 350px;
	height: 150px;
}
#java-logo .img-responsive{
	margin: 0 auto;
}
#myCarousel{
	height: 300px;
}
/* Footer bar*/
#footer-bar.navbar-inverse{
	background-color: #375a7f;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}
/*splash */
#splash.fade .modal-dialog{
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0px;
	border: none;
	border-radius: 0px;
}
#splash .modal-content{
	height: 100%;
	border: none;
	border-radius: 0px;
}
#splash .modal-body{
	height: 100%;
	background-image: url('../images/arc.jpeg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}